.insightList {
  padding: 45px 25px 25px;

  &__header {
    font-weight: 600;
    font-size: 1.3rem;
  }

  &__container {
    height: 100%;
    overflow-y: auto;
    padding-top: 15px;
    &__item {
      margin-top: 8px;
    }
  }
}
